.blog-hero {
  margin-top: 142px;

  &-title {
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
  }

  &-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 40px;
    padding: 0;
  }
  &-link{
    a {
      text-decoration: none;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      color: #181A18;

      &:hover {
        color: #064749;
      }
    }
  }

  &-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }
  &-list-item {
    position: relative;
    height: 574px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
  }
  &-list-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 574px;
    z-index: -1;
  }
  &-list-wrapper {
    max-width: 494px;
    width: 100%;
    padding: 60px 80px;
    border-radius: 0px 60px 60px 0px;
    background-color: #ffffff;
  }
  &-list-subtitle {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
  }
  &-list-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    margin-top: 24px;
  }

  .blog-list {
    flex-wrap: wrap;
    gap: 30px;
  }

  .button {
    margin: 0 auto;
  }
  
  .blog-title {
    margin-top: 140px;
  }
}

.blog-hero-list .slick-arrow {
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.80);
  font-size: 0;
  z-index: 99;
}
.blog-hero-list .slick-arrow.slick-prev {
  background-image: url("../images/arrow-black-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: 80px;
}
.blog-hero-list .slick-arrow.slick-next {
  background-image: url("../images/arrow-black-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateZ(180deg);
  right: 80px;
}

@media (max-width: 767px) {
  .blog-hero {
    margin-top: 82px;
    display: flex;
    flex-direction: column;
  }
  .blog-hero-links {
    max-width: 100%;
    overflow-x: scroll;
    padding: 6px;
    gap: 20px;
  }
  .blog-hero-link a {
    display: inline-block;
    width: max-content;
  }
  .blog-hero-title {
    margin-top: 40px;
  }

  .blog-hero .container:first-of-type {
    order: 2;
  }
  .blog-hero-list {
    order: 1;
  }
  .blog-hero .container:last-of-type {
    order: 3;
  }
  .button {
    order: 4;
  }
  .blog-title {
    order: 5;
    margin-top: 40px;
  }
  .blog-hero .blog-list {
    order: 6;
    margin-top: 32px;
    justify-content: center;
  }
  .blog-hero .blog-title {
    margin-top: 64px;
  }

  .blog-hero-list-wrapper {
    padding: 32px;
    max-width: 295px;
  }
  .blog-hero-list-item,
  .blog-hero-list-image {
    height: 346px;
  }
  .blog-hero-list-item {
    padding-top: 28px;
  }
}