.blog {
  padding-top: 140px;

  &-title {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    margin: 0;
  }

  &-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  &-list-item {
    width: 413px;
    border-radius: 60px;
    background-color: #F2F0F2;

    a {
      text-decoration: none;
      color: inherit;
    }

    &-image {
      width: 413px;
      height: 300px;
      border-radius: 60px 60px 0px 0px;
    }
    &-info {
      padding: 52px 24px 60px;
    }
    &-subtitle {
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
      margin: 0;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &-description {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      margin: 0;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-top: 12px;
    }
    &-read {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      padding-left: 48px;
      margin: 0;
      margin-top: 20px;
      background-image: url('../images/clock-icon.svg');
      background-repeat: no-repeat;
      background-position: left 12px center;
    }
  }
}

.blog .button {
  margin: 0 auto;
}