.contacts {
  margin-top: 143px;

  .form {
    max-width: 442px;
    width: 100%;
    gap: 16px;
  }
  .row {
    justify-content: space-between;
  }

  &-list {
    margin: 0;
    padding: 0;
  }
  &-list-item {
    list-style: none;

    .row {
      align-items: flex-start;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
  }
  &-info-item {
    margin: 0;
    text-decoration: none;
    margin-left: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    color: #181a18;
  }
  &-subtitle {
    margin: 0;
    max-width: max-content;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33333;
    color: #181a18;
  }
}

.contacts form textarea {
  min-height: 96px;
  max-height: 144px;
}
.contacts input[type=radio]:checked + label::before {
  background-color: #064749;
}
form.form-contacts input[type="tel"] {
  padding-left: 92px;
}

@media (max-width: 1023px) {
  .contacts-subtitle {
    font-size: 18px;
  }
  .contacts .form {
    max-width: 380px;
  }
}
@media (max-width: 993px) {
  .contacts .row {
    flex-direction: column;
    align-items: center;
  }
  .contacts .form {
    max-width: 100%;
    padding-right: 96px;
  }
  .contacts-list-item {
    margin-top: 24px;
  }
}
@media (max-width: 767px) {
  .contacts .form {
    padding-right: 0;
  }
}