.detail-booking {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 110px;

  &-wrapper {

  }

  &-title {
    margin: 0;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
  }
  &-subtitle {
    margin: 0;
    margin-top: 140px;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.125;
    color: #181a18;  
  }
  &-city {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    margin-top: 16px;
  }
  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);

    &-point {
      span {
        color: rgba(0, 0, 0, .45);
      }
    }
  }
  &-list.tags-line {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    grid-template-columns: unset;
    background-color: #FFFFFF;

    li {
      color: #dc6161;
      padding: 4px 6px;
      border: 1px solid #dc6161;
      border-radius: 15px;
    }
  }
  &-list.tags-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 48px;

    li {
      max-width: 280px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-order {
    padding: 40px;
    border-radius: 30px;
    background-color: #F2F0F2;
  }

  .tags {
    margin-top: 20px;
  }

  .form h3 {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  .form-split {
    gap: 40px;

    &:last-of-type {
      width: 200px;
      gap: 8px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .form-column label {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .form-select-date {
    cursor: pointer;
    width: 200px;
    margin-top: 12px;
    border-radius: 12px;
    padding: 12px 20px;
    background-color: #ffffff;
    background-image: url("../images/calendar-icon.svg");
    background-repeat: no-repeat;
    background-position: left 20px center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .button {
    align-self: center;
  }
}

@media (max-width: 1279px) {
  .detail-booking {
    flex-direction: column-reverse;
    gap: 60px;
    margin-top: 32px;
  }
  .detail-booking-title {

  }
  .detail-booking .detail-booking-wrapper form.detail-booking-order {
    flex-direction: row;
    padding-left: 64px;
    padding-right: 64px;
  }
  .detail-booking .form-select-date {
    width: 108px;
    background-image: unset;
    background-color: transparent;
    color: #FFFFFF;
    margin: 0;
    padding: 6px 0;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  .detail-booking .form-split {
    gap: 0;
    margin-left: 64px;
  }
  .detail-booking .form-column label,
  .detail-booking .form-split:last-of-type {
    display: none;
  }
  .detail-booking .form-split:last-of-type,
  .detail-booking .form h3 {
    margin: 0;
    color: #FFFFFF;
  }
  .detail-booking .form h3 {
    height: 36px;
  }
  .detail-booking-order {
    background-color: #49735A;
  }
  .detail-booking .button {
    margin-left: auto;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .detail-booking-order {
    padding: 24px;
    border-radius: 10px
  }
}

@media (max-width: 1023px) {
  .detail-booking .form h3 {
    margin-top: 8px;
  }
}

@media (max-width: 992px) {
  .detail-booking {
    gap: 36px;
  }
  .detail-booking-title {
    font-size: 42px;
    line-height: 48px;
  }
  .detail-booking-subtitle {
    margin-top: 64px;
    margin-bottom: 24px;
  }
  .detail-booking-list.tags-grid {
    grid-template-columns: repeat(2,1fr);
  }
  .detail-booking .form h3 {
    min-width: fit-content;
  }
  .detail-booking .form-split {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .detail-booking {
    margin-top: 0;
  }
  .detail-booking .detail-booking-wrapper form.detail-booking-order {
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    left: -24px;
    border-radius: 0;
    flex-wrap: wrap;
    width: 100vw;
  }
  .detail-booking .form h3 {
    width: 100%;
    margin-left: 16px;
    text-align: start;
  }
  .detail-booking .form-split {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .detail-booking .detail-booking-wrapper form.detail-booking-order {
    left: -16px;
  }
  .detail-booking-list.tags-grid {
    grid-template-columns: 1fr;
  }
  .detail-booking-list.tags-grid li {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .detail-booking-list.tags-line {
    gap: 16px;
  }
}