.detail-booking {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 110px;

  &-wrapper {

  }

  &-title {
    margin: 0;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
  }
  &-subtitle {
    margin: 0;
    margin-top: 140px;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.125;
    color: #181a18;  
  }
  &-city {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    margin-top: 16px;
  }
  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);

    &-point {
      span {
        color: rgba(0, 0, 0, .45);
      }
    }
  }
  &-list.tags-line {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    grid-template-columns: unset;
    background-color: #FFFFFF;

    li {
      color: #dc6161;
      padding: 4px 6px;
      border: 1px solid #dc6161;
      border-radius: 15px;
    }
  }
  &-list.tags-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 48px;

    li {
      max-width: 280px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-order {
    padding: 40px;
    border-radius: 30px;
    background-color: #F2F0F2;
  }

  .tags {
    margin-top: 20px;
  }

  .form h3 {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  .form-split {
    gap: 40px;

    &:last-of-type {
      width: 200px;
      gap: 8px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .form-column label {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .form-select-date {
    cursor: pointer;
    width: 200px;
    margin-top: 12px;
    border-radius: 12px;
    padding: 12px 20px;
    background-color: #ffffff;
    background-image: url("../images/calendar-icon.svg");
    background-repeat: no-repeat;
    background-position: left 20px center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .button {
    align-self: center;
  }
}