.faq {
  padding-top: 140px;
  padding-bottom: 140px;

  &-title {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .faq {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}