.flexible {
  background-color: #ffffff;
  display: flex;
  padding-top: 170px;

  &-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 640px;
    min-width: 640px;
    height: auto;
  }
  &-text {
    padding: 120px 80px;
    border-radius: 0px 60px 60px 0px;
    background-color: #F2F0F2;
  }
  &-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    margin: 0;
  }
  &-description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-top: 24px;
  }
}