.header {
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #FFFFFF;
  width: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  padding: 12px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-logo {
    text-decoration: none;
    display: flex;

    &:hover {
      cursor: pointer;
      opacity: .85;
    }
  }

  .navigate-list-item {
    margin-left: 40px;
    font-weight: 600;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}