.hero {
  position: relative;
  width: 100%;
  height: 767px;
  padding-top: 140px;
  background-image: url('../images/hero-background.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-offer {
    background-color: #ffffff;
    padding: 60px 80px;
    border-radius: 0px 60px 60px 0px;
    max-width: 690px;
  }
  &-title {
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
  }
  &-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    margin-top: 24px;
  }

  .form {
    position: absolute;
    bottom: -30px;
    left: calc(50% - 532px);
    justify-content: space-between;
    max-width: 1064px;
    width: 100%;
    height: 60px;
    padding: 2px;
    border-radius: 40px;
    border: 4px solid #064749;
    background-color: #ffffff;
  }
  .form-split {
    border-left: 1px solid #49735A;
    padding-left: 64px;
    align-items: center;

    .form-select-date {
      text-align: center;
      cursor: pointer;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      &:first-of-type {
        background-image: url("../images/calendar-icon.svg");
        background-repeat: no-repeat;
        background-position: left -2px center;
        padding-left: 8px;
      }
    }
  }
}

@media (max-width: 767px) {
  .hero {
    padding-top: 80px;
  }
  .hero-offer {
    padding: 32px;
    max-width: 100%;
    border-radius: 0 0 60px 0;
  }
  .hero .form {
    height: 52px;
  }
  .form.horizontal .button {
    font-size: 16px;
    line-height: 1;
    border-radius: 24px;
  }
}
@media (max-width: 500px) {
  .hero {
    background-image: url("../images/hero-background-mobile.webp");
    background-position-y: 128px;
  }
}