.management {
  padding-top: 140px;
  padding-bottom: 140px;

  &-title {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    margin: 0;
  }
  &-description {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    margin-top: 16px;
  }

  .point-list {
    &-item {
      background-color: #f2f0f2;

      &-subtitle {
        height: 64px;
      }
    }
  }
}

@media (max-width: 767px) {
  .management {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .management-title {
    font-size: 30px;
    line-height: 36px;
  }
  .management-description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .management .point-list-item-subtitle {
    height: initial;
  }
}