.order {
  margin-top: 142px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &-subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  &-radio-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;

    label {
      cursor: pointer;
      display: inline-block;
      height: 32px;
      position: relative;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      padding-left: 48px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #F2F0F2;
        border: 6px solid #F2F0F2;
      }
    }
  }

  &-checkbox-booking {
    margin-top: 40px;
    label {
      cursor: pointer;
      display: inline-block;
      height: 32px;
      position: relative;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      padding-left: 48px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        border-radius: 10px;
        background-color: #F2F0F2;
      }
    }
  }

  &-another-person {
    display: none;
    flex-direction: column;
    gap: 16px;
  }

  &-input-additional {
    margin-top: 20px;
  }
  .input-textarea {
    display: none;
    margin-top: 20px;
    height: 96px;
  }

  &-information {
    max-width: 522px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background-color: #F2F0F2;
    display: flex;
    flex-direction: column;

    &-image {
      width: 100%;
      height: 282px;
      object-fit: cover;
    }

    .form-select-date {
      cursor: pointer;
      width: 200px;
      border-radius: 12px;
      padding: 12px 20px;
      background-color: #F2F0F2;
      color: #181a18;
      background-image: url("../images/calendar-icon.svg");
      background-repeat: no-repeat;
      background-position: left 20px center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &-form {
    padding: 40px;

      .form-column {
        label {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          margin-left: 20px;
        }
      }
  }
}

.order-information .form.order-form .button {
  margin: 0 auto;
  margin-top: 24px;
}

form.form-order input[type="tel"] {
  padding-left: 92px;
}

.order-radio-buttons input[type="radio"],
.order-checkbox-booking input[type="checkbox"] {
  display: none;
}

.order-radio-buttons input[type="radio"]:checked + label {
  font-weight: 700;
}
.order-radio-buttons input[type="radio"]:checked + label::before {
  background-color: #064749;
}
.order-checkbox-booking input[type="checkbox"]:checked + label::before {
  background-image: url('../images/accept-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
}

.form.modal {
  .input {
    height: 40px;
    padding: 8px 12px;
    background-color: #FFFFFF;
  }
  .form-column {
    max-width: 100%;
    width: 100%;
  }
  .modal-textarea {
    min-width: 100%;
    max-width: 272px;
    width: 100%;
    min-height: 80px;
    max-height: 120px;
    height: 100%;
  }
  h3 {
    font-size: 22px;
    color: #073335;
  }
}

@media (max-width: 1279px) {
  .order {
    justify-content: space-around;
  }
  .order-information {
    max-width: 430px;
  }
  .form.form-order {
    max-width: 320px;
  }
}

@media (max-width: 991px) {
  .order {
    margin-top: 82px;
    flex-direction: column-reverse;
  }
  .order-information,
  .form.form-order {
    max-width: 100%;
  }
  .form.form-order {
    margin-top: 36px;
  }
  .order-information-image {
    height: 400px;
  }
  .order-information {
    transform: translateX(-48px);
    width: calc(100vw - 17px);
    max-width: calc(100vw - 17px);
  }
  .form.order-form .form-split {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .order-information {
    max-width: 100vw;
    width: 100vw;
    transform: translateX(-24px);
  }
  .order-form {
    padding: 20px;
  }
  .order .cover .form.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 36px;
    justify-content: flex-start;
    border: none;
    border-radius: 0;
  }
  .order .cover .form.modal .input-close {
    top: 8px;
    right: 8px;
  }
  .order .cover .form.modal .form-column {
    margin-top: 54px;
  }
  .order .cover .form.modal .form-column .modal-textarea {
    height: 280px;
    max-height: 280px;
    min-height: 280px;
  }
  .order .cover .form.modal .button {
    margin-top: auto;
  }
}

@media (max-width: 500px) {
  .order-information {
    transform: translateX(-16px);
  }
  .order-information .form-select-date {
    width: 150px;
    padding: 12px;
    background-position: left 4px center;
  }
}
