.form.horizontal .select2-container--default .select2-selection--single {
  height: 100%;
}
.form.horizontal .select2-container .select2-selection--single {
  cursor: text;
}
.form.horizontal .select2-container--default .select2-selection--single .select2-selection__rendered {
  cursor: text;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 24px;
  padding-left: 52px;
  height: 100%;
  border: none;
  outline: none;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
  color: #181A18;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #181A18;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  border-radius: 24px;
}
.form.horizontal .select2-container--default .select2-selection--single {
  border: none;
}
.form.horizontal .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
}
.form.horizontal .select2-selection__clear span {
  color: #edbbbb;
}
.select2-container--open .select2-dropdown {
  left: 30px;
  top: 14px;
}
.select2-search--dropdown,
.select2-results__option {
  padding: 8px 16px;
  margin-right: 2px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  padding: 8px;
  outline: none;
  border: none;
  border-bottom: 1px solid #789091;
}
.select2-dropdown,
.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
  border: none;
  -webkit-box-shadow: 0px 6px 16px 0px rgba(6, 71, 73, 0.3);
  -moz-box-shadow: 0px 6px 16px 0px rgba(6, 71, 73, 0.3);
  box-shadow: 0px 6px 16px 0px rgba(6, 71, 73, 0.3);
  border-radius: 16px;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-radius: 24px;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #064749;
}
.select2-results__options .select2-results__option:last-of-type {
  border-radius: 0 0 8px 8px;
}
.select2-results li[role="alert"] {
  color: #edbbbb;
  position: relative;
  bottom: 4px;
}

/* Стили для скроллбара */
.select2-results__options {
  margin-left: 6px;
  margin-right: 2px;
  margin-bottom: 8px;
  scrollbar-width: thin;
  scrollbar-color: #789091 #ffffff;
}
.select2-results__options::-webkit-scrollbar {
  width: 8px;
}
.select2-results__options::-webkit-scrollbar-track {
  background-color: transparent;
}
.select2-results__options::-webkit-scrollbar-thumb {
  background-color: #789091;
  border-radius: 20px;
  border: 1px solid #ffffff;
}
