.useful {
  padding-top: 140px;
  padding-bottom: 140px;

  &-title {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    margin: 0;
    margin-bottom: 60px;
  }

  &-list {
    list-style: none;
    display: grid;
    gap: 12px 160px;
    grid-template-columns: repeat(2, 2fr);
  }
  &-list-item {
    a {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      color: #064749;

      &:hover {
        color: inherit;
        opacity: .7;
      }
      &::after {
        content: url('../images/link-arrow-icon.svg');
        position: relative;
        bottom: -4px;
        margin-left: 12px;
      }
    }
  }
}